<ng-container *ngIf="(dashborad$ | async) as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
   <div style="text-align: center">
     <img src="assets/img/lp.gif" alt="...">
   </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.Error">
    <div class="alert alert-danger alert-with-icon">
      <i class="material-icons" data-notify="icon">error_outline</i>
      <button aria-label="Close" class="close" data-dismiss="alert" mat-button type="button"><i class="material-icons">close</i>
      </button>
      <span data-notify="message">
        <b>Error</b>{{result.errorMessage}}</span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-minimal-down text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Crédit</p>
              <p class="card-title">{{result.data[0].credit}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-minimal-up text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Débit</p>
              <p class="card-title">{{result.data[0].debit}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-alert-circle-i text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Bloque</p>
              <p class="card-title">{{result.data[0].bloce}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-simple-remove text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Echoué</p>
              <p class="card-title">{{result.data[0].echoues}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-collapse">
      <div class="card-header">
        <h4 class="card-title">Mes Comptes</h4>
      </div>
      <div class="card-body">
          <nz-table #basicTable [nzData]="result.data[0].comptes">
            <thead>
            <tr>
              <th>Numéro de Compte</th>
              <th>Intitulé</th>
              <th>solde</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comtp of basicTable.data">
              <td>{{comtp.num_compte}}</td>
              <td>{{comtp.intitule}}</td>
              <td>{{comtp.solde}}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
</ng-container>

