<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a href="#{{menuItem.id}}" class="collapsed" aria-expanded="false" aria-controls="{{menuItem.id}}"
        data-toggle="collapse">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
      <div class="collapse" id="{{menuItem.id}}">
    <li *ngFor="let subMenu of menuItem.subMenus" routerLinkActive="active" class="{{subMenu.class}}">
      <a href="#{{subMenu.id}}" class="collapsed" aria-expanded="false" aria-controls="{{subMenu.id}}"
        data-toggle="collapse">
        <i class="nc-icon {{subMenu.icon}}"></i>
        <p>{{subMenu.title}}</p>
      </a>
      </div>
    </li>
  </ul>
</div>



