<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/sitepoint-logo-png-transparent.png">
      </div>
    </a>
    <a style="font-weight: bold" href="" class="simple-text logo-normal">
      <span style="color: #e57b25;">e-banking</span>   <span style="color: #07508b;"> Clinet</span>
    </a>
  </div>

  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
<ng-container  *ngIf="menuItem.subMenus; else internalBlock">
  <a  href="#{{menuItem.id}}" class="collapsed" aria-expanded="false" aria-controls="{{menuItem.id}}"
      data-toggle="collapse">
    <i class="nc-icon {{menuItem.icon}}"></i>
    <p style="font-weight: bold;">{{menuItem.title}}</p>
    <span style="font-weight: bold;"><b style="margin-top: 9px;" class="caret ml-2"></b> </span>
  </a>
</ng-container>

      <ng-template #internalBlock>
        <a [routerLink]="menuItem.path"  class="collapsed" aria-expanded="false" aria-controls="{{menuItem.id}}"
            data-toggle="collapse">
          <i class="nc-icon {{menuItem.icon}}"></i>
          <p style="font-weight: bold;">{{menuItem.title}}</p>
        </a>
      </ng-template>

      <div class="collapse" id="{{menuItem.id}}">

    <li *ngFor="let subMenu of menuItem.subMenus" routerLinkActive="active" class="{{subMenu.class}}">
      <a [routerLink]="subMenu.path" href="#{{subMenu.id}}" class="collapsed" aria-expanded="false" aria-controls="{{subMenu.id}}"
        data-toggle="collapse">
        <i class="nc-icon {{subMenu.icon}}"></i>
        <p style="font-size: 11px;font-family: system-ui;">{{subMenu.title}}</p>
      </a>
  </li>
      </div>

  </ul>
</div>



