
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Changement d'agence </h4>
        <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <span data-notify="icon" class="nc-icon nc-bell-55"></span>
          <span data-notify="message">
            le changement d'agence vous permettra de transférez vos relations, comptes et contrats vers l'agence de voter coix tout en gardant le méme numéro de compte , ausi les prélévements et virments rérrents ne soront pas impactés
            <br>
           <b>pour change voter agence merci de renseigner les informations suivantes.</b>
          </span>
        </div>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
