
<div class="row">
  <div class="col-md-12">
    <div class="card card-collapse">
      <div class="card-header">
        <h4 class="card-title">Mes Comptes</h4>
      </div>
      <div class="card-body">
        <input
          type="radio" name="emotion"
          id="sad" class="input-hidden"   value="{{itemsList[1].value}}" (change)="onItemChange(itemsList[1])">
        <label for="sad">
          <img
            src="http://www.iam.ma/ImagesMarocTelecom/Photothèque/Images-grandes/maroc-telecom-bleu-fr-grande.jpg"
            alt="I'm sad" />
        </label>

        <input
          value="{{itemsList[0].value}}" (change)="onItemChange(itemsList[0])"
          type="radio" name="emotion"
          id="happy" class="input-hidden" />
        <label for="happy">
          <img
            src="https://inwi.ma/assets/logo-seo.jpg"
            alt="I'm happy" />
        </label><input
        type="radio" name="emotion"
        id="d" class="input-hidden" />
        <label for="d">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/766px-Orange_logo.svg.png"
            alt="I'm sad" />
        </label>

        <input
          type="radio" name="emotion"
          id="v" class="input-hidden" />
        <label for="v">
          <img
            src="https://1.bp.blogspot.com/-89KpZslJVQY/XmKzgM5cE9I/AAAAAAAAGy0/N9uS4ENK3XEyqUhpL7c6auwEMY8bv2o3wCLcBGAsYHQ/s1600/ggggggg.png"
            alt="I'm happy" />
        </label>
        <input
          type="radio" name="emotion"
          id="b" class="input-hidden" />
        <label for="b">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU8WfxHc6vR3P6vXQdsbz3Cbvi8uUXot_TyA&usqp=CAU"
            alt="I'm happy" />
        </label>


      </div>
    </div>
  </div>
</div>
