.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  filter: none;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  width: 120px;
  margin-right: 54px;
  margin-left: 15px;
  height: 120px;
  filter: grayscale(1);
  transition: 500ms all;
  border-radius: 150px;
}


/*
 | //lea.verou.me/css3patterns
 | Because white bgs are boring.
*/
html {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image:
    linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(
      #eee .1em,
      transparent .1em
    );
}
