<ng-container *ngIf="(comptes$ | async) as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    <div style="text-align: center">
      <img src="assets/img/lp.gif" alt="...">
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.Error">
    <div class="alert alert-danger alert-with-icon">
      <i class="material-icons" data-notify="icon">error_outline</i>
      <button aria-label="Close" class="close" data-dismiss="alert" mat-button type="button"><i class="material-icons">close</i>
      </button>
      <span data-notify="message">
        <b>Error</b>{{result.errorMessage}}</span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
  <script src="mes-compte-denrolement.component.ts"></script>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">La Liste Des Operations </h4>
      </div>

      <nz-table #nzTable [nzData]="result.data" nzTableLayout="fixed">
        <thead>
        <tr>
          <th>Show Operations</th>
          <th>Numero de compte</th>
          <th >intitule</th>
          <th>Devise</th>
          <th>Solde</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of result.data,index as i ">
          <tr>
            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
            <td>{{ data.accountNum }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.currency }}</td>
            <td>{{ data.balance }}</td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <nz-table #innerTable [nzData]="result.data[i].transactions" nzSize="middle" [nzShowPagination]="false">
        <thead>
        <tr style="background-color: #00bbff;">
          <th >Date de operation </th>
          <th>Libilee de le operation</th>
          <th style="color:#4CD964;"> <p> <i nz-icon nzType="up-circle" nzTheme="outline">  &ensp; debit </i> </p></th>
          <th style="color:#d94c4c;"> <p> <i nz-icon nzType="down-circle" nzTheme="outline"> &ensp; credit</i></p> </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let op of innerTable.data" [class]="op.transactionType=='CREDIT' ? 'bg-danger':'bg-success'">
          <td>{{ op.cretaedAt }}</td>
          <td>{{ op.name }}</td>
          <ng-container *ngIf="op.transactionType=='DEBIT'; else elseSpan">
            <td>{{op.amount}}</td>
            <td>0</td>
          </ng-container>
          <ng-template #elseSpan>
            <td>0</td>
            <td>{{op.amount}}</td>
          </ng-template>
        </tr>
        </tbody>
      </nz-table>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
        </div>
      </div>
    </div>
</ng-container>

